* {
  margin: 0;
  padding: 0;
}

h1 {
  /* padding: 10px;
   border-radius: 10px;
   box-shadow: 8px 8px 8px grey;*/
  border-bottom: 2px solid black;
}

#home h1 {
  margin-bottom: 50px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  background-color: #5faaa5;
}
header img {
  width: 10%;
  max-width: 135px;
  min-width: 80px;
  -o-object-fit: contain;
     object-fit: contain;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin: 30px 0px 30px 0px;
  padding: 30px;
}
nav a {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  background-color: white;
  color: #1e7973;
  padding: 12px;
  border-radius: 10px;
  transition: all ease-in-out 0.3s;
  margin-left: 20px;
  box-shadow: 8px 8px 6px grey;
  width: 150px;
  text-align: center;
}
nav a:hover {
  box-shadow: 12px 12px 10px #4b4b4b;
  transform: scale(1.2);
}
nav p {
  font-size: 20px;
  width: 150px;
  font-weight: bold;
  background-color: white;
  padding: 12px;
  border-radius: 10px;
  margin-left: 20px;
  box-shadow: 12px 12px 10px #4b4b4b;
  color: #f8591a;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}
main h1 {
  margin-bottom: 20px;
}

#home img {
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 400px;
}

footer {
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  align-items: center;
  padding: 50px;
  background-color: #5faaa5;
  color: white;
}
footer .contact {
  display: flex;
}
footer ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  list-style: none;
  font-size: 20px;
}
footer ul a {
  text-decoration: none;
  color: white;
}
footer img {
  width: 130px;
  -o-object-fit: contain;
     object-fit: contain;
}
footer li {
  margin-bottom: 5px;
}

@media only screen and (min-width: 880px) and (max-width: 1080px) {
  nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
  }
  nav a, nav p {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 880px) {
  nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
  }
  nav a {
    font-size: 15px;
    width: 150px;
    text-align: center;
    margin-bottom: 20px;
  }
  nav p {
    position: relative;
    font-size: 15px;
    bottom: 10px;
  }

  main {
    margin-bottom: 100px;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px 50px 20px;
  }
  footer ul {
    padding: 0;
    margin-top: 10px;
  }
  footer .contact {
    flex-direction: column;
  }
  footer img {
    margin-bottom: 30px;
  }
}
.presentation {
  width: 80%;
  text-align: justify;
  margin: 30px 0 0px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.presentation h2, .presentation h3, .presentation h4 {
  margin-bottom: 40px;
  font-size: 20px;
}
.presentation h4 {
  width: 100%;
}

#qui {
  /* #firstImg {
       width: 50%;
       object-fit: cover;
       max-width: 400px;
       border-radius: 10px;
       margin-bottom: 30px;
       box-shadow: 8px 8px 8px grey;
   }
   #secondImg {
       width: 70%;
       object-fit: cover;
       max-width: 500px;
       border-radius: 10px;
       margin-bottom: 30px;
       box-shadow: 8px 8px 8px grey;
   }*/
}
#qui img {
  width: 70%;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 500px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 8px 8px 8px grey;
}

.naturo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 30px 0 0px 0;
  text-align: justify;
}
.naturo h2 {
  margin-bottom: 40px;
  font-size: 20px;
}
.naturo img {
  width: 60%;
  border-radius: 10px;
  box-shadow: 8px 8px 8px grey;
}

.naturoPrix {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  border: 1px solid #5faaa5;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 8px 8px 8px grey;
}
.naturoPrix h3 {
  margin-bottom: 20px;
  margin-left: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #2763a7;
  text-decoration: underline;
}
.naturoPrix p {
  margin-bottom: 10px;
  margin-left: 20px;
  font-size: 18px;
}
.naturoPrix span {
  font-size: 20px;
  font-weight: bold;
  color: #2763a7;
}

.respiration {
  width: 80%;
  margin: 30px 0 0px 0;
  display: flex;
  flex-direction: column;
  text-align: justify;
}
.respiration h2, .respiration h3, .respiration p {
  font-size: 20px;
  font-weight: normal;
}
.respiration h3 {
  margin-bottom: 20px;
}
.respiration ul {
  margin-top: 20px;
  text-align: center;
  list-style: none;
  font-weight: bold;
  font-size: 22px;
}/*# sourceMappingURL=main.css.map */