#contact {
    display: flex;
    width: 100%;
    margin-top: 40px;
    ul {
       
    flex-direction: column;
        justify-content: space-between;
        padding: 15px 30px 15px 30px;
        border-radius: 10px;
        margin-left: 30px ;
        list-style: none;
        font-size: 20px;
        background-color:  #325852;
        box-shadow: 12px 12px 10px rgb(75, 75, 75);
        color: white;
       
        
        a {
            text-decoration: none;
            color: white;
            transition: 0.2s;
            span {
                border-bottom: 2px solid white;
                transition: 0.2s;
                &:hover {
                    border-bottom: 2px solid rgb(255, 147, 6);
                }
            }
           &:hover {
               color:rgb(255, 147, 6);
           }
        }
        li {
            margin-bottom: 5px;
        }
      
    }
}