.presentation {
    width: 75%;
    margin: 30px 0 0px 0;
    h2, h3, h4 {
        margin-bottom: 40px;
        font-size: 20px;
    }
}

#qui {
    #firstImg {
        width: 50%;
        object-fit: cover;
        max-width: 400px;
        border-radius: 10px;
        margin-bottom: 30px;
        box-shadow: 8px 8px 8px grey;
    }
    #secondImg {
        width: 70%;
        object-fit: cover;
        max-width: 500px;
        border-radius: 10px;
        margin-bottom: 30px;
        box-shadow: 8px 8px 8px grey;
    }
    
}